.boxgrid{  
  width: 130px;  
  height: 130px;  
  /*margin:10px;*/  
  /*float:left; */ 
  background:#161613;  
  /*border: solid 2px #8399AF;  */
  overflow: hidden;  
  position: relative;  
}  
.boxgrid img{  
  position: absolute;  
  top: 0;  
  left: 0;  
  border: 0;  
}
.boxcaption{ 
  color: white;
  float: left;  
  position: absolute;  
  background: #000;  
  height: 60px;  
  width: 100%;  
  opacity: .8;  
  /* For IE 5-7 */  
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);  
  /* For IE 8 */  
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";  
}
.captionfull .boxcaption { 
    /*display: none;*/
    top: 130;  
    left: 0;  
}  
.caption .boxcaption {  
    top: 130;  
    left: 0;  
} 